{%  load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>TACTICS</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/vendor.css">
    <link rel="stylesheet" href="../static/css/t_main.css">

    <!-- script
    ================================================== -->
    <script src="../static/js/modernizr.js"></script>
    <script src="../static/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="../static/css/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/images/logo1.png">

</head>

<body id="top">
    <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <h1 style="color: white;height: 20px">TACTICS</h1>
                    <!-- <small class="text-muted">Learn To Defend</small> -->
                    <!-- <a class="logo" href="index.html">
                        <img src="images/TACTICS.png" alt="Homepage">
                    </a> -->
                </div> <!-- end header__logo -->

                <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->

                <!-- <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div>   -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li class="current"><a href="/" title="">Home</a></li>
                        <!-- <li>
                            <a href="category.html" title="">LifeStories</a>
                        </li>
                        <li class="has-children">
                            <a href="#0" title="">Blog</a>
                            <ul class="sub-menu">
                            <li><a href="single-video.html">Video Post</a></li>
                            <li><a href="single-audio.html">Audio Post</a></li>
                            </ul>
                        </li>
                        <li><a href="style-guide.html" title="">Techniques</a></li>
                        <li><a href="about.html" title="">About</a></li>
                        <li><a href="contact.html" title="">Contact</a></li> -->
                    </ul> <!-- end header__nav -->
                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>
                </nav> <!-- end header__nav-wrap -->
            </div> <!-- header-content -->
        </header> <!-- header -->


        <div class="pageheader-content row">
            <div class="col-full">
                <div class="featured">
                    <div class="featured__column featured__column--big">
                        <div class="entry" style="background-image:url('../static/css/images/thumbs/featured/women1.jpg');">
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">Tactics</a></span>
                                <h1><a href="#0" title="">Know How To Defend YourSelf At Times!</a></h1>
                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="../static/css/images/avatars/user-03.jpg" alt="">
                                    </a>
                                    <ul class="entry__meta">
                                        <li><a href="#0">John Doe</a></li>
                                        <li>December 29, 2017</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                            
                        </div> <!-- end entry -->
                    </div> <!-- end featured__big -->

                    <div class="featured__column featured__column--small">

                        <div class="entry" style="background-image:url('../static/css/images/thumbs/featured/women2.jpg');">
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">Techniques</a></span>

                                <h1><a href="#0" title="">Why Self Defence Is So Important For Girls?</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="../static/css/images/avatars/user-03.jpg" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">D. Robert</a></li>
                                        <li>December 27, 2017</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                          
                        </div> <!-- end entry -->

                        <div class="entry" style="background-image:url('i../static/css/images/thumbs/featured/women3.jpg');">

                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">LifeStories</a></span>

                                <h1><a href="#0" title="">You're Not Powerless in the Face of Online Harassment.</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="../static/css/images/avatars/user-03.jpg" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">John Doe</a></li>
                                        <li>December 21, 2017</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                    </div> <!-- end featured__small -->
                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div> <!-- end pageheader-content row -->

    </section> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content">
        
        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="grid-sizer"></div>

                <article class="masonry__brick entry format-standard" data-aos="fade-up">
                        
                    <div class="entry__thumb">
                        <a href="{% url 'tactics' %}" class="entry__thumb-link">
                            <img src="../static/css/images/thumbs/masonry/women4.jpg" 
                                    srcset="../static/css/images/thumbs/masonry/women4.jpg 1x, ../static/css/images/thumbs/masonry/women4.jpg 2x" alt="">
                        </a>
                    </div>
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'tactics' %}">December 15, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'tactics' %}">"Hope My Story Inspires"</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                A woman who accused her co-worker and boyfriend of sexual harassment at the peak of India's #MeToo movement last year has spoken about her experience in a powerful 'Humans of Bombay' Facebook post
                             </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="{% url 'tactics' %}">Read More</a> 
                            </span>
                        </div>
                    </div>
    
                </article> <!-- end article -->

                <article class="masonry__brick entry format-quote" data-aos="fade-up">
                        
                    <div class="entry__thumb">
                        <blockquote>
                                <p>Feminism isn't about being stronger,Women are already stronger.It's about changing the way world perceives that strength.</p>
    
                                <cite>G.D.Anderson</cite>
                        </blockquote>
                    </div>   
    
                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">
                        
                    <div class="entry__thumb">
                        <a href="{% url 'tactics' %}" class="entry__thumb-link">
                            <img src="../static/css/images/thumbs/masonry/women13.jpg" 
                                    srcset="../static/css/images/thumbs/masonry/women13.jpg 1x, ../static/css/images/thumbs/masonry/women13.jpg 2x" alt="">
                        </a>
                    </div>
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'tactics' %}">December 15, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'tactics' %}">SAFETY TIPS FOR WOMEN.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                To help women feel empowered and prepared for whatever life may throw their way, we have created the five-point safety plan listed below.
                                <ul>
                                    <li>Ping Your Location</li>
                                    <li>Tools for Self-Defense</li>

                                </ul>
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="{% url 'tactics' %}">Read More</a>
                            </span>
                        </div>
                    </div>
    
                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="{% url 'tactics' %}" class="entry__thumb-link">
                            <img src="../static/css/images/thumbs/masonry/women7.jpg" 
                                    srcset="../static/css/images/thumbs/masonry/women7.jpg 1x, ../static/css/images/thumbs/masonry/women7.jpg 2x" alt="">
                        </a>
                    </div>
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'tactics' %}">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'tactics' %}">Reasons Everyone Should Learn Self-Defense.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Honestly, we barely know what will happen the next moment or the next day. Be that as it may, our life is the most precious thing that ever happens so, why to take a risk? Instead enroll a self-defense class to handle every situation in life .
                                </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="{% url 'tactics' %}">Read More</a>
                            </span>
                        </div>
                    </div>
    
                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="{% url 'tactics' %}" class="entry__thumb-link">
                            <img src="../static/css/images/thumbs/masonry/women8.jpg" 
                                    srcset="../static/css/images/thumbs/masonry/women8.jpg 1x, ../static/css/images/thumbs/masonry/women8.jpg 2x" alt="">
                        </a>
                    </div>
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'tactics' %}">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'tactics' %}">10 NGOs helping women to fight agianst violence.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                According to NHFS-4, only 14% of women who reported being abused actively sought help. Listed below are the NGOs for women which are helping women get legal justice and encouraging them to take their lives in their own hands.
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="{% url 'tactics' %}">Read More</a>
                            </span>
                        </div>
                    </div>
    
                </article> <!-- end article -->

                <article class="masonry__brick entry format-video" data-aos="fade-up">
                         
                    <div class="entry__thumb video-image">
                        <a href="https://vimeo.com/656157037" data-lity> 
                            <img src="../static/css/images/thumbs/masonry/sadguru.webp" 
                                    srcset="../static/css/images/thumbs/masonry/sadguru.webp 1x, images/thumbs/masonry/sadguru.webp 2x" alt="">
                        <!-- </a> -->
                    </div>
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'tactics' %}">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'tactics' %}">Stop Women Assaults On Women By Sadguru.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Rakul Preet asks Sadhguru what we as a nation need to do to stop the assaults and violence against women.

                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="{% url 'tactics' %}">Read More</a> 
                            </span>
                        </div>
                    </div>
    
                </article> <!-- end article -->


                <article class="masonry__brick entry format-gallery" data-aos="fade-up">
                        
                    <div class="entry__thumb slider">
                        <div class="slider__slides">
                            <div class="slider__slide">
                                <img src="../static/css/images/thumbs/masonry/gallery/wom1.jpg" 
                                        srcset="../static/css/images/thumbs/masonry/gallery/wom1.jpg 1x, ../static/css/images/thumbs/masonry/gallery/wom1.jpg 2x" alt=""> 
                            </div>
                            <div class="slider__slide">
                                <img src="images/thumbs/masonry/gallery/wo2.jpg" 
                                        srcset="../static/css/images/thumbs/masonry/gallery/wo2.jpg 1x, ../static/css/images/thumbs/masonry/gallery/wo2.jpg 2x" alt=""> 
                            </div>
                            <div class="slider__slide">
                                <img src="../static/css/images/thumbs/masonry/gallery/wo3.jpg" 
                                        srcset="../static/css/images/thumbs/masonry/gallery/wo3.jpg 1x, ../static/css/images/thumbs/masonry/gallery/wo3.jpg 2x" alt="">  
                            </div>
                        </div>
                    </div>
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'tactics' %}">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'tactics' %}">Amazing Women Who Have Shunned The Tag Of 'Rape Victim' And Emerged As Winners. #Respect..</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                From putting the perpetrator behind bars to helping victims of commercial sex exploitation and rape, these 5 amazing women have risen from the ashes stronger than ever. Know more about these inspiring women who are a motivation to all of us.
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="index.html">Read More</a> 
                            </span>
                        </div>
                    </div>
    
                </article> <!-- end article -->

                <article class="masonry__brick entry format-audio" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="index.html" class="entry__thumb-link">
                            <img src="../static/css/images/thumbs/masonry/women14.jpg" 
                                    srcset="../static/css/images/thumbs/masonry/women14.jpg 1x, ../static/css/images/thumbs/masonry/women14.jpg 2x" alt="">
                        </a>
                        <div class="audio-wrap">
                            <audio id="player" src="../static/audio/kiran-bedi.mp4" width="100%" height="42" controls="controls"></audio>
                        </div>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="index.html">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="index.html">The Real Motivation By Dr.Kiran Bedi.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                “Mobility and physical fitness when coupled with financial independence will help women empower themselves. This when combined with the innate feminine qualities will help women outperform their male counterparts,” said former IPS officer Kiran Bedi 
                                                        </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="index.html">Read More</a> 
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-link" data-aos="fade-up">
                    
                    <div class="entry__thumb">
                        <div class="link-wrap">
                            <p>The Only Resource You  Need To Self Defend Yourselves Is To Follow Tactics.</p>
                            <cite>
                                <a target="_blank" href="https://colorlib.com/"></a>
                            </cite>
                        </div>
                    </div>
                    
                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="index.html" class="entry__thumb-link">
                            <img src="../static/css/images/thumbs/masonry/women9.jpg" 
                                    srcset="../static/css/images/thumbs/masonry/women9.jpg 1x, ../static/css/images/thumbs/masonry/women9.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="index.html">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="index.html">Help A Friend | Women In Distress.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                As a neighbor, co-worker, friend, or relative, you should be aware of the warning signs of a potentially abusive situation.
                                <ul>
                                    <li>Does a friend or relative seem to be cutting off contact with you?</li>
                                    <li>Do they seem distant or isolated?</li>
                                </ul>
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="index.html">Read More</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="index.html" class="entry__thumb-link">
                            <img src="../static/css/images/thumbs/masonry/women10.jpg" 
                                    srcset="../static/css/images/thumbs/masonry/women10.jpg 1x, ../static/css/images/thumbs/masonry/women10.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="index.html">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="index.html"> Woman Safety Gadgets Which Will Be Your Ultimate Saviour.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                There is a high need for women to be aware of all the self-defense techniques and all the smart apps that are made for women safety. Not only these women safety gadgets can protect you from all the risky situations but they are also easy and safe to carry in your handbag.
                                                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="index.html">Read More</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="{% url 'tactics' %}" class="entry__thumb-link">
                            <img src="../static/css/images/thumbs/masonry/women11.jpg" 
                                    srcset="../static/css/images/thumbs/masonry/women11.jpg 1x, ../static/css/images/thumbs/masonry/women11.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{% url 'tactics' %}">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'tactics' %}">Are You Being Harrassed Online?Then Follow These...</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                            <ul>
                                <li>Check Your Privacy Settings</li>
                                <li>Report Threats</li>
                                <li>Take A Break</li>
                            </ul>    
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="{% url 'tactics' %}">Read More</a>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="index.html" class="entry__thumb-link">
                            <img src="../static/css/images/thumbs/masonry/women12.jpg" 
                                    srcset="../static/css/images/thumbs/masonry/women12.jpg 1x, ../static/css/images/thumbs/masonry/women12.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="index.html">December 10, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="index.html">Strengthen YourSelves To Defend.</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                According to Researchers, they had found that women's who learned self-defense have more self-confidence in the public then the women who didn't.Self-defense is a type of protection to yourself & it also give positive feelings about your body & also give self-confidence to an individual.
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="index.html">Read More</a> 
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->

        <div class="row">
            <div class="col-full">
                <nav class="pgn">
                    <ul>
                        <li><a class="pgn__prev" href="#0">Prev</a></li>
                        <li><a class="pgn__num" href="#0">1</a></li>
                        <li><span class="pgn__num current">2</span></li>
                        <li><a class="pgn__num" href="#0">3</a></li>
                        <li><a class="pgn__num" href="#0">4</a></li>
                        <li><a class="pgn__num" href="#0">5</a></li>
                        <li><span class="pgn__num dots">…</span></li>
                        <li><a class="pgn__num" href="#0">8</a></li>
                        <li><a class="pgn__next" href="#0">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </section> <!-- s-content -->


    <!-- s-extra
    ================================================== -->
    <section class="s-extra">

        <div class="row top">

            <div class="col-eight md-six tab-full popular">
                <h3>Popular Posts</h3>

                <div class="block-1-2 block-m-full popular__posts">
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="../static/css/images/thumbs/masonry/women7.jpg" alt="">
                        </a>
                        <h5><a href="#0">Reasons Everyone Should Learn Self-Defense.</a></h5>
                        <section class="popular__meta">
                                <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-19">Dec 19, 2017</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="../static/css/images/thumbs/masonry/women9.jpg" alt="">
                        </a>
                        <h5><a href="#0">Help A friend,Women In Distress.</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-18">Dec 18, 2017</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="../static/css/images/thumbs/featured/women1.jpg" alt="">
                        </a>
                        <h5><a href="#0">Women Safety and Security</a></h5>
                        <section class="popular__meta">
                                <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-16">Dec 16, 2017</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="../static/css/images/thumbs/small/women11.jpg" alt="">
                        </a>
                        <h5><a href="#0">Are You Being Harrassed Online?</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-16">Dec 16, 2017</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="../static/css/images/thumbs/small/women13.jpg" alt="">
                        </a>
                        <h5><a href="#0">SAFETY TIPS FOR WOMEN.</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-14">Dec 14, 2017</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="../static/css/images/thumbs/small/women8.jpg" alt="">
                        </a>
                        <h5><a href="#0">10 NGOs helping women to fight agianst violence.</a></h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span>By</span> <a href="#0"> John Doe</a></span>
                            <span class="popular__date"><span>on</span> <time datetime="2017-12-12">Dec 12, 2017</time></span>
                        </section>
                    </article>
                </div> <!-- end popular_posts -->
            </div> <!-- end popular -->
            
            <div class="col-four md-six tab-full about">
                <h3>About Tactics</h3>

                <p>
                    The most significant benefit that can be obtained from this TACTICS page is that the women can learn how to physically defend her. This page gives  the main reasons and suggestions why women should know about TACTICS. It  provides the tips and tricks to handle emergency and difficult situations. Whenever the women  faces any type of harassment, this course will provide necessary steps to fight against the situations.
                </p>

                <ul class="about__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->
            </div> <!-- end about -->

        </div> <!-- end row -->

        <div class="row bottom tags-wrap">
            <div class="col-full tags">
                <h3>Tags</h3>

                <div class="tagcloud">
                    <a href="#0">LifeStories</a>
                    <a href="#0">Blogs</a>
                    <a href="#0">Audios</a>
                    <a href="#0">Techniques</a>
                    <a href="#0">Suggestions</a>
                    <a href="#0">Tips</a>
                    <a href="#0">Videos</a>
                    <a href="#0">Self-Help</a>
                    <a href="#0">Support</a>
                </div> <!-- end tagcloud -->
            </div> <!-- end tags -->
        </div> <!-- end tags-wrap -->

    </section> <!-- end s-extra -->


    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <!-- <div class="s-footer__main">
            <div class="row">
                
                <div class="col-two md-four mob-full s-footer__sitelinks">
                        
                    <h4>Quick Links</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Home</a></li>
                        <li><a href="#0">Blog</a></li>
                        <li><a href="#0">Styles</a></li>
                        <li><a href="#0">About</a></li>
                        <li><a href="#0">Contact</a></li>
                        <li><a href="#0">Privacy Policy</a></li>
                    </ul>

                </div> 

                <div class="col-two md-four mob-full s-footer__archives">
                        
                    <h4>Archives</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">January 2018</a></li>
                        <li><a href="#0">December 2017</a></li>
                        <li><a href="#0">November 2017</a></li>
                        <li><a href="#0">October 2017</a></li>
                        <li><a href="#0">September 2017</a></li>
                        <li><a href="#0">August 2017</a></li>
                    </ul>

                </div> 

                <div class="col-two md-four mob-full s-footer__social">
                        
                    <h4>Social</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Facebook</a></li>
                        <li><a href="#0">Instagram</a></li>
                        <li><a href="#0">Twitter</a></li>
                        <li><a href="#0">Pinterest</a></li>
                        <li><a href="#0">Google+</a></li>
                        <li><a href="#0">LinkedIn</a></li>
                    </ul>

                </div> 

                <div class="col-five md-full end s-footer__subscribe">
                        
                    <h4>Our Newsletter</h4>

                    <p>Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime provident nisi et fuga et enim exercitationem ipsam. Culpa consequatur occaecati.</p>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                
                            <input type="submit" name="subscribe" value="Send">
                
                            <label for="mc-email" class="subscribe-message"></label>
                
                        </form>
                    </div>

                </div> 

            </div>
        </div>  -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© Copyright Femzo 2021</span> 
                        <!-- <span>Site Template by <a href="https://colorlib.com/">Colorlib</a> Downloaded from <a href="https://themeslab.org/" target="_blank">Themeslab</a></span> -->
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

</body>

</html>